.bdy{

                margin-left:12%;
                position: relative;
                top: 20px;;
 }

 h2{
 text-align: center;
 }

 h4{
 text-align: center;
 }
 .prg{
 font-weight: bold;
 }
