.bdy
{
position: relative;
top: 20px;
}

h2
{
background-color: rgb(36, 89, 36);
padding: 40px;
clear: both;
color:white;
font-size: 30px;
}

h4
{
background-color: rgb(186, 222, 187);
padding: 6px;
clear: both;
}

.prg
{
font-weight: bold;
}

h3
{
background-color: rgb(186, 222, 187);
padding: 6px;
clear: both;
}

body
{
font-family: sans-serif;
background-color: #edffff;
margin-left:12%;
margin-right:12%;
}

.contact
{
font-size:16px;
}
.sideleft
{
float: right;
margin-left:55%;
position: relative;
bottom: 731px;

}
.sideright
{
float: left;
margin-right:55%;
}

ul li
{
padding: 5px 0px;
}